@model Election.Models.VoterInfo

<div class="text-start">
    <table class="table table-bordered">
        <tr><th>الرقم التسلسلي</th><td>@Model.Serial</td></tr>
        <tr><th>الاسم</th><td>@Model.Name</td></tr>
        <tr><th>المركز</th><td>@Model.Center</td></tr>
        <tr><th>القرية</th><td>@Model.Village</td></tr>
        <tr><th>المدرسة</th><td>@Model.School</td></tr>
        <tr><th>اللجنة الفرعية </th><td>@Model.SubCommitteeNumber</td></tr>
    </table>
</div>
